@model LibraryManagement.BLL.Dtos.RegisterDto

@{
    ViewData["Title"] = "Register";
}

<style>
    .account-container {
        max-width: 400px; 
        margin: 0 auto; 
        padding: 20px; 
        border: 1px solid #ccc; 
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    }

    .form-label {
        display: block; 
        margin-bottom: 5px; 
    }

    .form-control {
        width: 100%; 
        padding: 10px; 
        margin-bottom: 20px;
        border: 1px solid #ccc; 
        border-radius: 5px;
    }

    .btn {
        width: 100%; 
        padding: 10px; 
        background-color: #28a745; 
        color: white; 
        border: none; 
        border-radius: 5px;
        cursor: pointer; 
    }

        .btn:hover {
            background-color: #218838;
        }

    .text-center {
        text-align: center; 
    }

    .text-danger {
        color: red;
    }

    .form-link {
        text-align: center; 
        margin-top: 10px; 
    }
</style>

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center">Register</h2>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div style="text-align: left;">
                <label asp-for="FullName" class="form-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div style="text-align: left;">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div style="text-align: left;">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div style="text-align: left;">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <input type="submit" value="Register" class="btn" />

            <p class="form-link">
                Already have an account? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a>
            </p>
            <div class="form-link">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
